.container{
   padding: 20px 40px;
}

.titulo-principal{
  margin-bottom: 25px;
}

.bloque{
  margin-bottom: 40px;
}

.titulo-bd{
  margin-bottom: 15px;
  color:#1b5e20;
}

.carrusel{
  display:flex;
  gap:15px;
  overflow-x:auto;
  padding-bottom:10px;
}

.dash-card{
  min-width:300px;
  background:white;
  border-radius:12px;
  padding:15px;

  box-shadow:0 4px 10px rgba(0,0,0,.08);
}

.dash-card h3{
  margin-bottom:10px;
}

.btn-detalle{
  display:inline-block;
  margin-top:10px;
  background:#a5d6a7;
  color:#1b5e20;
  padding:6px 12px;
  border-radius:10px;
  text-decoration:none;
}
