body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #7aa66c;
    padding:  2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #09482C;
    font-weight: bold;
    font-size: 30px;
}

.header img{
    width: 80px;
    height: 80px;
}

.nav {
    display: flex;
    gap: 2rem;
    font-size: 20px;
    margin-right: 20px;
}

.nav a {
    position: relative;
    text-decoration: none;
    color: #1a3c1c;
    font-weight: 500;
    padding: 4px 0;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #133514;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav a:hover::after {
    transform: scaleX(1); 
}


