html, body {
  margin: 0;
  height: 100%;
}

/* ===== CONTENEDOR GENERAL ===== */
#map-wrapper {
  position: relative;
  height: calc(100vh - 100px); /* AJUSTA según tu header */
  width: 100%;
}

/* ===== MAPA ===== */
#map {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;   /* 👈 ESTO ES LO QUE FALTABA */

  z-index: 1;
}


/* ===== PANEL DE FILTROS ===== */
#filtros {
  position: absolute;
  top: 20px;
  left: 100px;
  z-index: 1000;

  background: white;
  padding: 10px 12px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);

  display: inline-flex;
  align-items: center;
  gap: 10px;

  width: auto;        /* 👈 CLAVE */
  max-width: 340px;   /* 👈 CLAVE */
}

/* Label */
#filtros label {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

/* Choices */
.choices {
  width: 220px;       /* 👈 aquí controlas el ancho */
}

.choices__inner {
  min-height: 36px;
  border-radius: 6px;
}

#btnLimpiar {
  border: none;
  background: #f2f2f2;
  border-radius: 6px;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 16px;
}

#btnLimpiar:hover {
  background: #e0e0e0;
}

.popup-mina {
  font-size: 13px;
  line-height: 1.4;
}

.btn-ver-mas,
.btn-ver-mas:link,
.btn-ver-mas:visited {
  color: #f2f2f2;
  text-decoration: none;
}

.btn-ver-mas {
  display: inline-block;
  margin-top: 6px;
  padding: 5px 8px;
  background: #3c883f;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 12px;
  border-radius: 4px;
}

.btn-ver-mas:hover {
  background: #3c883f;
  color: #000000;
}
