html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#map {
/* ocupa todo lo que sobra debajo del header */
  flex: 1; 
}

#filtros {
  padding: 8px 12px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#municipioSelect {
  width: 250px;
  padding: 6px;
}
